# Laravel specific
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json

# Database
*.sqlite
*.sqlite-journal
database/*.sqlite
database/*.sqlite-journal

# IDE
/.idea
/.vscode
/.fleet
*.swp
*.swo
*~
.DS_Store

# Build files
/public/build/
/public/mix-manifest.json

# Logs
/storage/logs/*.log